* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

main {
  width: 100%;
  height: 100vh;
  background: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-width: 320px;
}

section {
  background: var(--white);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

section .banner {
  width: 100%;
  height: 40%;
}

section .banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

section .content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* height: 60%;
  justify-content: space-between; */
}

section .content .name {
  color: var(--dark-grayish-blue);
  letter-spacing: 4px;
}

section .content h1 {
  font-size: 2rem;
  font-family: "Fraunces", serif;
}

section .content p {
  color: var(--dark-grayish-blue);
  line-height: 26px;
}

section .content .price {
  display: flex;
  gap: 1rem;
}

section .content .price .current-price {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  color: var(--dark-cyan);
}

section .content .price .original-price {
  color: var(--dark-grayish-blue);
  font-size: 0.85rem;
  padding-top: 0.75rem;
  text-decoration: line-through;
}

section .content button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background: var(--dark-cyan);
  border: none;
  border-radius: 5px;

  color: var(--white);
  font-weight: 700;
  font-size: 1rem;
}

section .content button img {
  width: 1.22rem;
}

@media (min-width: 900px) {
  section {
    width: 40rem;
    flex-direction: row;
  }

  section .banner {
    width: 50%;
    height: 100%;
    display: flex;
  }

  section .content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: space-around;
  }
}
